.header {
  grid-area: header;
  background: #ffff;
  border-bottom: 1px solid #f0f0f0;
  padding: 16px 24px;
  grid-area: header;
}

.layout-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'sidebar main';
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
}

.content-container {
  grid-area: main;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

.main-content {
  grid-area: main;
  padding: 24px;
  overflow-y: auto;
  /* border:; */
}
