  .ant-checkbox-inner {
    border-radius: 4px;
    border-color: #000639 !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #000639 !important;
    border-color: #000639 !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: white !important; /* Colore della spunta */
  }

  .ant-form-item {
    margin: 5px; 
  }