.buttonUpload {
  border: 1px solid #d9d9d9 !important;
  transition: border !important;
}

.buttonUpload:hover {
  border: 1px solid #112f4b !important;
}
.secondary {
  background-color: white;
  color: #00063e;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-weight: 500;
  height: 40px;
  padding: 4px 15px;
  font-size: 14px;
  transition: border 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary:hover {
  border: 1px solid #00063e;
}

.save {
  background-color: #00063e;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-weight: 500;
  height: 40px;
  padding: 4px 15px;
  font-size: 14px;
  transition: border 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
