.header {
  grid-area: header;
  border-bottom: 1px solid #f0f0f0;
  height: 49px;
  width: auto;
  padding: 0px 0px;
  margin-top: 16px;
  margin-right: 16px;

  margin-left: 16px;
  grid-area: header;
}

.layout-container {
  display: grid;
  grid-template-columns: 248px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'sidebar main';
  height: 100vh;
}

.content-container {
  overflow-y: auto !important;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

.main-content {
  padding-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
  overflow-y: auto;
}
