.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.card {
  width: 420px;
  border: 1px solid #ededed;
  border-radius: 8px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.logo {
  height: 40px;
}

.title {
  text-align: center;
  font-size: 24px;
}

.orDivider {
  margin: 16px 0;
}

.register {
  margin-top: 8px;
}
