.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  flex-direction: column;
}

.card {
  width: 420px;
  border: 1px solid #ededed;
  border-radius: 8px;
  padding: 32px 16px 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  background-color: #fff;
  animation: fadeIn 0.5s ease;
}

.ant-form-item,
.ant-input {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  height: 40px;
  margin-bottom: 8px;
}

.title {
  flex: 1;
  width: 100%;
  position: relative;
  font-size: 30px;
  line-height: 38px;
  display: inline-block;
  color: #1f1f1f;
  text-align: center;
  margin-bottom: 10px;
}

.orDivider {
  margin-bottom: 10px !important;
  margin-top: 0px !important;
  font-weight: 500;
  color: #999;
}

.doubleInput {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.doubleInput > * {
  flex: 1;
}

.registerWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.registerWrapper:hover {
  border: none;
}

.checkboxText {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  line-height: 1.4;
  color: #1f1f1f !important;
  margin-top: 12px;
}

.link {
  text-decoration: underline;
  color: inherit;
  font-weight: 500;
}

.input:hover {
  border: 1px solid;
  border-color: #d9d9d9 !important;
}

.passwordNote {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
  margin-bottom: 16px;
}
