.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  border: 1px solid #f0f0f0;
  transition: border-color 0.3s ease;
  border-radius: 8px !important; /* Rende il logo quadrato con angoli leggermente arrotondati */
}

.logo:hover {
  border-color: #1890ff;
}

.name {
  font-weight: 500;
  color: #262626;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
