.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.card {
  width: 440px;
  border: 1px solid #ededed;
  border-radius: 8px;
  padding: 32px 16px 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  animation: fadeIn 0.5s ease;
}

.ant-form-item,
.ant-input {
  width: 100%;
}

.ant-message {
  z-index: 9999 !important;
  position: fixed !important;
  top: 100px !important;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  height: 40px;
  margin-bottom: 8px;
}

.title {
  flex: 1;
width: 100%;
position: relative;
font-size: 30px;
line-height: 38px;
display: inline-block;
color: #1f1f1f;
text-align: center;
}

.form {
  width: 100%;
}

.divider {
  width: 100%;
  margin: 16px 0 0;
}

.orDivider {
  margin: 24px 0;
  font-weight: 500;
  color: #999;
}

.register {
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}
